# Input sources
[input_sources]
[input_sources.vibration_sensor]
kind = "mqtt"
topic = "sensors/vibration"
parameters = { sampling_rate = 100 }

[input_sources.robot_arm]
kind = "mqtt"
topic = "sensors/robot_arm"

[input_sources.sim]
kind = "simulated"
topic = "sensors/test"
parameters = { interval_ms = 500 }

[input_sources.sim2]
kind = "simulated"
topic = "sensors/test2"
parameters = { interval_ms = 250 }

# Transformations
[transformations]
[transformarions.passthrough]
kind = "passthrough"
# [transformations.basic_filter]
#kind = "low-pass"
# parameters = { threshold = 0.5 }

# [transformations.aggregator]
# kind = "moving_average"
# parameters = { window_size = 10 }

# Aggregations
[aggregations]
[aggregations.max]
kind = "max"
inputs = ["vibration_sensor", "robot_arm"]

# Output sinks
[output_sinks]
[output_sinks.logger]
kind = "log"
#[output_sinks.main]
#kind = "json"
#destination = "broker://output"
